:root {
  --primari-background-color: #fff;
  --second-background-color: #f4f4fd;
  --primari-text-color: #434455;
  --second-text-color: #2e2f42;
  --color-logo: #4d5ae5;
  --hover-color: #404bbf;
  --border: #e7e9fc;
  --border-advantages: #8e8f99;
  --footer-social-hover: #31d0aa;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primari-text-color);
  background-color: var(--primari-background-color);
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/** header **/

.section-header {
  border-bottom: 1px solid var(--border);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  color: var(--color-logo);
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-color-header {
  color: var(--second-text-color);
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-link {
  color: var(--second-text-color);
  font-weight: 500;
  padding: 24px 0;
  position: relative;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  font-style: normal;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-contact {
  color: inherit;
  font-style: normal;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--hover-color);
}

.curent {
  color: var(--hover-color);
}

.curent::after {
  content: '';
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--hover-color);
  position: absolute;
}

/** Main **/

.section {
  padding: 120px 0;
}

.section-head-title {
  color: var(--second-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-title {
  color: var(--second-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

/** Section-hero **/

.section-hero {
  background-color: var(--second-text-color);
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--primari-background-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  margin: 0 auto 48px;
  max-width: 496px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  color: var(--primari-background-color);
  background-color: var(--color-logo);
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  line-height: inherit;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-color);
}

/** Section-Advantages **/

.advantages {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.advantages-item-background {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--border-advantages);
  background: var(--second-background-color);
  margin-bottom: 8px;
  height: 112px;
}

/** Section-team **/

.team-background-color {
  background-color: var(--second-background-color);
}

.team-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.team-card {
  background-color: var(--primari-background-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-text {
  padding: 32px 0;
  text-align: center;
}

.team-card-social-buttons {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-card-social-background {
  width: 40px;
  height: 40px;
}

.team-card-social-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-logo);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-social-button {
  fill: var(--second-background-color);
}

.team-card-social-item:hover,
.team-card-social-item:focus {
  background-color: var(--hover-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/** Section-portfolio **/

.portfolio-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-logo);
  padding: 40px 32px;
  color: var(--second-background-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-text {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid var(--border);
  border-top: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay,
.portfolio-card:focus .overlay {
  transform: translateY(0%);
}

.portfolio-card:focus,
.portfolio-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/** Footer **/

.footer-background {
  background-color: var(--second-text-color);
  padding: 100px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-section {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-color-footer {
  color: var(--second-background-color);
}

.footer-text {
  color: var(--second-background-color);
  width: 264px;
}

.footer-social-text {
  font-weight: 500;
  color: var(--primari-background-color);
  margin-bottom: 16px;
}

.team-card-social-buttons-footer {
  gap: 16px;
}

.team-card-social-item-footer:hover,
.team-card-social-item-footer:focus {
  background-color: var(--footer-social-hover);
}
